.Fullpost_Container {
    width : 100%;
    height: 100%;
    padding : 20px;
    position: relative;
    animation : bottomToTop 0.4s ease-out;
}

.GoBackButton {
    display : block;
    width : 30px;
    height : 30px;
    color : white;
    outline : 0;
    border : 2px solid white;
    border-radius : 50%;
    background : transparent;
    position : absolute;
    right : 20px;
    cursor : pointer;
}

.Fullpost {
    margin-top : 30px;
    width : 100%;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    color : white;
}

.PostHeading {
    width : 100%;
    margin-top : 30px;
    margin-bottom : 30px;
    font-size : 1.2em;
    border-radius : 10px;
    color : white;
    background : #5962e3;
    padding : 20px;
    text-align : center;
}

.PostContent {
    width : 100%;
    background : #ff9c38;
    color : black;
    margin-bottom: 30px;
    border-radius : 10px;
    padding : 20px;
}

@keyframes bottomToTop {
    0% {
        transform : translateY(100%);
    }

    100% {
        transform : translateY(0);
    }
}