.Main {
    height : 100%;
    display : grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 1fr;
}

.Profile_Container_1 {
    grid-row-start : 2;
    grid-row-end : 3;
    justify-self: center;
    width : 80%;
    padding : 20px;
    overflow : auto;
    display : flex;
    flex-wrap : wrap;
}

.Avatar_Container{
    height : 220px;
    width : 200px;
}

.Avatar {
    width : 200px;
    height : 200px;
    overflow : hidden;
    border-radius : 10px;
}

.Avatar img {
    width : 200px;
    height : 200px;
    margin-top : auto;
    margin-bottom : auto;
    border-radius : 10px;
    object-position: center;
}

.Profile_Name {
    width : 100%;
    height : 20px;
    text-align : center;
    color : white;
    padding : 5%;
    font-size : 1.1em;
    text-transform: capitalize;
    letter-spacing : 2px;
}

.Profile_Details {
    width : calc(100% - 200px);
    height : 200px;
    color : white;
}

.Profile_About {
    height : 75%;
    overflow : auto;
    padding : 20px;
    margin-bottom: 5%;
} 

.Profile_About::-webkit-scrollbar {
    width : 10px;
}

.Profile_About::-webkit-scrollbar-track {
    background : #ff9c38;
    border-radius : 10px;
}

.Profile_About::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #5962e3;
}

.Profile_Settings {
    display : block;
    width : 40%;
    height : 40px;
    margin-left: auto;
    margin-right : auto;
    border-radius: 10px;
    background: #5962e3;
    text-align: center;
} 

.Profile_Settings_Button {
    display : block;
    color : white;
    text-decoration : none;
    width : 100%;
    height : 100%;
    padding : 10px;
}

.Add_Post {
    height : 30px;
    width : 100%;
}

.Add_Post_Button {
    color : black;
    text-decoration: none;
    display : block;
    width : 30px;
    height : 30px;
    text-align : center;
    margin-left: auto;
    margin-right : auto;
    background : #43bf7d;
    border-radius: 50%;
    border : 1px solid black;
    padding : 4px;
    font-weight: bold;
}

@media (max-width : 680px) {
    .Profile_Container_1 {
        width : 100%;
    }

	.Avatar_Container {
		margin-left : auto;
		margin-right: auto;
	}

	.Profile_Details {
		width : 100%;
		height : auto;
	}

	.Like_Container {
		width : 70%;
	}

	.FullPost {
		width : 30%;
	}

    .Profile_About {
        height : 200px;
        margin-top : 20px;
    }
}

@media (max-width : 400px) {
	.Profile_Settings {
		width : 70%;
	}
}

