.Sidebar {
        list-style :  none;
        margin : 0;
        padding : 10px;

        position : fixed;
        top : 0;
        right : 0;
        height : 100%;
        width : 40%;
        z-index : 120;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background : #3dd178;

	transition : all 0.3s ease-in-out;
}

.Open {
	transform : translateX(0);
}

.Close {
	transform : translateX(100%);
}

.Sidebar li {
        padding : 5px;
        width : 100%;
        text-align: center;
}

.Sidebar li:hover {
        cursor : pointer;
        background : #292a2b;
        color : white;
}