* {
  box-sizing: border-box;
}

html
{
  height : 100%;
  width : 100%;
}

body
{
  height : 100%;
  width : 100%;
  background-color : #292a2b;
  font-family : 'Ubuntu', sans-serif;
}

::-webkit-scrollbar {
  width : 10px;
}

::-webkit-scrollbar-track {
  background : transparent
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.App {
  position : absolute;
  width : 100%;
  top : 0;
  bottom : 0;
}