.Top {
    display: inline-block;
    position : absolute;
    bottom: 30px;
    left: 10px;
    height: 30px;
    outline : 0;
    border : 0;
    border-radius: 10px;
    background-color : #3dd178;

    transition : all 0.2s linear;
}

.Top_Visible {
    opacity : 1;
}

.Top_Invisible {
    opacity: 0;
}