.Login_Form_Container {
    width : 75%;
    margin-right: auto;
    margin-left: auto;
    border : 1px solid black;
    margin-top : 100px;
    padding : 20px;
    border-radius: 10px;
    background-color: #ff9c38;
}

.Login_Form {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.Login_Form_Container input {
    display : block;
    width : 80%;
    margin-bottom: 20px;
    height : 40px;
    background-color: #ff9c38;
    border-right : 0;
    border-left : 0;
    border-top : 0;
    border-bottom : 2px solid gray;
    font-size : 1.1em;
}

.Login_Form_Container input:focus {
    outline : 0;
    border-bottom: 3px solid #10177a;
}

.Login_Form_Container button {
    display : block;
    width : 30%;
    font-size : 1.1em;
    border-radius : 5px;
    border : 0;
    color : white;
    background : #5962e3;
    padding : 5px;
}

.Login_Form_Container button:focus {
    outline : 0;
}

.Login_Form_Container button:hover {
    cursor : pointer;
}

.Already {
    text-align: center;
    margin-top : 10px;
}

.Already a {
    color : #5962e3;
    text-decoration: none;
}

@media (max-width: 500px) {
    .Login_Form_Container {
        width : 95%;
    }

    .Login_Form_Container input {
        font-size : 1rem;
        height : 30px;
    }

    .Login_Form_Container button {
        font-size : 1rem;
        width : 50%;
    }
}